p.count {
    color: #FFFFFF;
    background-color: #515151;
    border: 1px #303030;
    border-radius: 0.5rem;
    padding: .2rem .25rem;
    margin: 0.1rem 0.1rem .1rem;

}



.tags a {
    color: #000000;
    background-color: #43A047;
    font-size: 1em;
    white-space: nowrap;
    border-radius: 1.5rem;
    padding:  .25rem .85rem .25rem;
    line-height: 2;
    flex-shrink: 3;
    flex: flex-basis;

}
.tags {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em 0.25em;
    align-content: space-around;

}
.authors a {
    color: #000000;
    background-color: #43A047;
    font-size: .75;
    white-space: nowrap;
    border-radius: 2rem;
    padding: .25rem .85rem .25rem;
    line-height: 2;
    flex: "flex-basis";
}
.authors {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em 0.25em;
    box-sizing: border-box;
    align-content: space-around;
}

@media screen and (max-width: 1000px) {
    table#books thead {
      display: none;
    }  table#books td {
      display: flex;
    }
    table#books td::before {
      content: attr(label);
      font-weight: bold;
      width: 120px;
      min-width: 120px;
    }
  }

.paginate_button {
    color: gray;
    border: gray 1px solid;
    padding: 0.5em;

}

.paginate_button {
    color: gray;
    border: gray 1px solid;
    padding: 0.5em;

}

figure figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    width: 100%;
}

figure.w-50 a img {
    width: 100%;
}


.table-caption {
    caption-side: top;
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.book-format-container {
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin: 2%;
}

.cover-img {
    width: 100%;
    display: block;
    height: auto;
    position: absolute;
    top: -1px;
    right: -1px;
}

.alt-triangle {
    z-index: 3;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 20%;
}

.format-overlay {
    font-family: 'Source Sans Pro', sans-serif;
    width: 15%;
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 10;
    text-transform: uppercase;

}

.format-overlay p {
    color: #000;
    font-weight: 400;
    padding: 1rem 20px 40px;
    text-decoration: none;
    
}

.download {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-101%, -50%);
    padding: 1em;
    border: 1px solid black;
    color: #fff;
    background-color: black;
}

.read {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(1%, -50%);
    padding: 1em;
    background-color: black;
    border: 1px solid black;
    color: #fff;
}
.read:hover, .download:hover {
    background-color: #43A047 ;
}

.book-format-container  a div {
    color: white;
}

.select2-container--default .select2-selection--multiple {
    width: 75%;
}

.select2-container--default .select2-selection--single{
    width: 75%;
}

span.select2-container--default span.select2-selection--single span.select2-selection__arrow {
    right: 25%;
}


/* XL */
  @media screen and (min-width: 1200px) {
    .w-xl-50 {
        width: 50% !important;
      }

      .w-xl-75 {
        width: 75% !important;
      }

  }

  /* lg */
  @media screen and (min-width: 992px) and (max-width: 1200px) {

    .w-lg-75 {
        width: 75% !important;
      }

      .w-xl-90 {
        width: 90% !important;
      }

      .w-xl-100 {
        width: 100% !important;
      }

}

/* md */

@media screen and (min-width: 768px) and (max-width: 992px)  {

  .w-md-60 {
    width: 60% !important;
  }
    .w-md-75 {
        width: 75% !important;
      }

      .w-md-90 {
        width: 90% !important;
      }

      .w-md-100 {
        width: 100% !important;
      }
}

/* sm */
@media screen and (min-width: 576px) and (max-width: 768px) {

    .w-sm-75 {
        width: 75% !important;
      }

    .w-sm-90 {
        width: 90% !important;
      }
}

/* xs */
@media screen and (max-width: 576px) {

    .w-xs-75 {
        width: 75% !important;
      }

    .w-xs-90 {
        width: 90% !important;
      }

    .navbar-nav .form-inline .form-control {
        width: auto !important;
      }

}


